<div id="searchBox">
@using (Html.BeginForm("Search", "Modules", FormMethod.Post)) {
    <input type="text" id="searchText" name="searchText" size="25" />
    <input type="submit" value="Go" />
}
</div>